.priority-caption {
    margin: 10px 10px 10px 0;
}

.properties-control {
    width: 100%;
}

.properties-dialog {
    width: 320px;
}

.background-red {
    background: lightcoral;
}

.background-yellow {
    background: lightgoldenrodyellow;
}

.background-green {
    background: lightgreen;
}

.background-blue {
    background: lightblue;
}