.filler {
    flex: 1 1 auto;
}

.add-button {
    margin-top: 5px;
}

.event {
    margin-top: 10px;
    font-weight: bold;
}

.managed {
    margin-top: 10px;
    margin-left: 5px;
    color: grey;
}