<mat-expansion-panel (opened)="panelOpened()" (closed)="panelClosed()" [ngClass]="{'open-list': panelOpenState}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="event" (click)="editEvent()">{{wishList.event}}</span>
      <span class="managed" *ngIf="wishList.managed">(verwaltet)</span>
    </mat-panel-title>
    <mat-panel-description>
      <span class="filler"></span>

      <button mat-icon-button (click)="shareClicked()" matTooltip="Liste weitergeben">
        <i class="material-icons">share</i>
      </button>

      <button mat-icon-button (click)="deleteClicked()" matTooltip="Wunschliste löschen!">
        <i class="material-icons">delete</i>
      </button>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <wish-edit *ngFor="let wish of wishes" [wish]="wish" (wishDeleted)="deleteWish($event)"
             (wishChange)="wishChanged($event)"></wish-edit>
  <button (click)="addWish()" mat-fab matTooltip="Wunsch hinzufügen" class="add-button"><i class="material-icons">create</i></button>
</mat-expansion-panel>
