mat-expansion-panel {
    margin-top: 4px;
}

.filler {
    flex: 1 1 auto;
}

.add-button {
    float: right;
    right: 5px;
    bottom: 60px;
}

.event {
    margin-top: 10px;
    font-weight: bold;
}

.managed {
    margin-top: 10px;
    margin-left: 5px;
    color: grey;
}

.open-list {
    background: lightblue;
}