<mat-expansion-panel (opened)="panelOpened()" color='accent'>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="event">{{wishList.event}}</span>
    </mat-panel-title>
    <mat-panel-description>
      <span class="filler"></span>

      <button mat-icon-button (click)="deleteClicked()">
        <i class="material-icons">delete</i>
      </button>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-wish-view *ngFor="let wish of wishes" [wish]="wish" [user]="userStatus.name" (reserved)="reserveClicked($event)"></app-wish-view>
</mat-expansion-panel>
<p>{{errorMessage}}</p>
