<mat-expansion-panel (opened)="panelOpened()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{wishList.event}}
    </mat-panel-title>
    <mat-panel-description>
      {{wishList.id}}

      <span class="filler"></span>

      <button mat-icon-button (click)="deleteClicked()">
        <i class="material-icons">share</i>
      </button>

      <button mat-icon-button (click)="deleteClicked()">
        <i class="material-icons">delete</i>
      </button>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <wish-view *ngFor="let wish of wishes" [wish]="wish" (wishDeleted)="deleteWish($event)"
             (wishChange)="wishChanged($event)"></wish-view>

  <button (click)="addWish()" mat-raised-button class="add-button">neuer Wunsch</button>
</mat-expansion-panel>
<p>{{errorMessage}}</p>
