.wish-card {
    margin-top: 4px;
    margin-bottom: 4px;
}

.unavailable {
    background: lightgray;
}

.wish-form {
    min-width: 250px;
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wish-full-width {
    width: 100%;
}

.wish-line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wish-item {
    width: 100%;
}

.wish-url {
    flex: 1 1 auto;
}

mat-card {
    padding: 24px 24px 10px 24px;
}

.wish-donor {
    font-weight: bold;
}