<mat-card class="wish-card">
  <form class="wish-form">
      <mat-form-field class="wish-full-width">
        <input matInput placeholder="Wunsch" [value]="wish.caption" (change)="onCaptionChange($event)">
      </mat-form-field>
    <mat-form-field class="wish-full-width">
      <textarea matInput placeholder="Beschreibung" [value]="wish.description" matTextareaAutosize
                (change)="onDescriptionChange($event)" matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
    </mat-form-field>

    <mat-form-field class="wish-full-width">
      <input matInput placeholder="Link" [value]="wish.link" (change)="onLinkChange($event)">
    </mat-form-field>
  </form>
  <button mat-icon-button (click)="deleteClicked()" matTooltip="Wunsch löschen">
    <i class="material-icons">delete</i>
  </button>
</mat-card>