<mat-card class="wish-card" *ngIf="wish.caption || wish.description">
  <form class="wish-form">
    <mat-list class="wish-full-width">
      <mat-list-item>
        <a *ngIf="wish.link" href="{{targetUrl()}}" target="_blank">
          <p  class="caption" *ngIf="wish.caption">{{wish.caption}}</p>
          <p *ngIf="wish.description">{{wish.description}}</p>
        </a>
        <div *ngIf="!wish.link" >
          <p  class="caption" *ngIf="wish.caption">{{wish.caption}}</p>
          <p *ngIf="wish.description">{{wish.description}}</p>
        </div>
        <span matLine *ngIf="wish.donor">{{wish.donor}}</span>
      </mat-list-item>
    </mat-list>
  </form>
</mat-card>
