<mat-card class="wish-card" *ngIf="wish.caption || wish.description">
  <div class="wish-form">
    <mat-list class="wish-full-width">
      <mat-list-item class="wish-line">
        <a *ngIf="wish.link" href="{{targetUrl()}}" target="_blank">
          <p class="caption" *ngIf="wish.caption">{{wish.caption}}</p>
          <p *ngIf="wish.description">{{wish.description}}</p>
        </a>
        <div *ngIf="!wish.link">
          <p class="caption" *ngIf="wish.caption">{{wish.caption}}</p>
          <p *ngIf="wish.description">{{wish.description}}</p>
        </div>
      </mat-list-item>
      <mat-list-item matLine *ngIf="wish.donor">{{wish.donor}}</mat-list-item>
    </mat-list>
    <button *ngIf="isAvailable()" mat-icon-button (click)="reserveClicked()" class="donate-button" matTooltip="{{getTooltip()}}">
      <i *ngIf="!isMyPresent()" class="material-icons">shopping_cart</i>
      <i *ngIf="isMyPresent()" class="material-icons">remove_shopping_cart</i>
    </button>
  </div>
</mat-card>
