<mat-toolbar #wishtoolbar color='primary'>
  <button *ngIf="isAwayFromHome()" mat-icon-button (click)="homeClicked()" matTooltip="zur Startseite">
    <i class="material-icons">home</i>
  </button>

  <span>Wunsch Manager</span>
  <span class="fill-remaining-space"></span>
  <button *ngIf="isLoggedIn()" (click)="logoutClicked()" mat-raised-button color='accent'>{{userStatus?.name | name}}  <i class="material-icons" style="display: inline;margin-left: 5px;">power_settings_new</i></button>
</mat-toolbar>
<div class='working-area'>
<router-outlet></router-outlet>
</div>
<hr>
<span class="mat-body-1 app-footer">Wunschmanager Version 0.6 - 13.2.2018</span>
